<!-- views/partials/popular.ejs-->

<section class="container d-flex flex-wrap">
        <% for(let similarMovie of similarMovies.slice(0,5)) {%>
            <% if (similarMovie.id != movie.id && movie.poster_path !== null && movie.vote_average !== 0) { %>
            <% let modified_average = similarMovie.vote_average / 2; %>
            <%function trimTitle(title) {
                return title.length > 14 ? `${title.substring(0, 14)}...` : title;
              } %>
            <div style=" margin: .5em;">
                <a href="/movie/<%= similarMovie.id %>" style="text-decoration: none; color: black;">
                    <img id="similarPoster" src="<%=`${config.IMG_URL}${similarMovie.poster_path}`%>" alt="<%= similarMovie.title %>"/>
                    <div class="mt-2">
                        <h6><%= trimTitle(similarMovie.title) %></h6>
                        <span ><img src="/img/estrella_small.png" alt=""> <%= modified_average.toFixed(1) %></span>
                    </div>
                </a>
            </div>
            <% } %>
        <% } %>

</section>

