<!-- views/reviews/index.ejs -->
<div id="commentSectionContent" class="py-3 mb-4 border-bottom p-3">
  <% for(let c of reviews) { %>
 
    <div class="row">
      <div class="col me-md-auto d-flex justify-content-center align-items-center">
        <div>
        <img
          src="<%= c.user.userIMG.url %>"
          alt="avatar"
          class="bi me-2 b"
        />
        <div class="h5 text-center"> <%= c.user.username %></div>
      </div>
      
      <div class="col offset-1 text-end">
        <div><small><%= c.created.toISOString().slice(0, 10) %></small></div>
        <p class="starability-result" data-rating="<%= c.score %>"></p>  
      </div>
      
    </div>
  </div>
  <div class="row mt-2">
    <p><%= c.review %></p> 
    <hr>
  </div>
      <% } %>
</div>
   
